html {
    width: 100vw;
    height: 100vh;
}

body,
#app {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

h1 {
    margin: 0;
}

ul {
    list-style: none;
    counter-reset: sectioncounter;
    line-height: 2em;
}

li:before {
    content: counter(sectioncounter) ". ";
    counter-increment: sectioncounter;
}

.px-20 {
    padding: 0 20px;
}

.py-10 {
    padding: 10px 0;
}

.overflow-hidden {
    overflow: hidden;
}

.scroll-y {
    overflow-y: auto;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-direction-column {
    flex-direction: column;
}

